<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You for Your Contribution to MIRG-ICAIR 2024</title>
    <style>
      body { font-family: Arial, sans-serif; line-height: 1.6; margin: 0;
      padding: 20px; background-color: #f9f9f9; text-align: left; } .container {
      background: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px
      8px rgba(0, 0, 0, 0.1); max-width: 600px; margin: auto; text-align: left;
      } h1 { font-size: 20px; color: #333; } p { font-size: 16px; color: #555; }
      .highlight { font-weight: bold; color: #000; } .link { display:
      inline-block; margin-top: 20px; padding: 10px; color: white;
      background-color: #ff8000; text-decoration: none; border-radius: 5px;
      font-size: 16px; } .link:hover { color: #000; border: 2px solid #ff8000 ;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <p>Dear <span class="highlight">{{name}}</span>,</p>

      <p>
        On behalf of the organizing committee, We sincerely thank you for your invaluable
        contribution as a
        <span class="highlight">{{role}}</span>
        at MIRG-ICAIR 2024, held from 26th to 28th November 2024, at the Glass
        House, Faculty of Education, University of Lagos.
      </p>

      <p>
        Your role was pivotal to the event’s success, particularly in advancing
        discussions around “Artificial Intelligence for Future Industrialisation
        of Medicine in Sub-Saharan Africa.”
      </p>

      <p>Please find attached your certificate of participation below.</p>

      <p>
        We’d appreciate your feedback to help us improve future events using the
        link below.<br />
        <a href="https://forms.gle/zN3G6gAJzoEwvGTG8" class="link">Feedback Form</a>
      </p>

      <p class="photos-link">
        Also, photos of the event’s moments are available here:
        <a href="https://photos.app.goo.gl/aC2ALTn9LAH6ajX17" class="link">Event
          Photos Day 1</a>,
        <a href="https://photos.app.goo.gl/CWrQkHmA7pj7e62p6" class="link">Event
          Photos Day 2</a>,
        <a href="https://photos.app.goo.gl/aC2ALTn9LAH6ajX17" class="link">Event
          Photos Day 3</a>.
      </p>

      <p>
        Thank you once again for your involvement. We hope to work together with
        you again in the future.
      </p>

      <p>Warm regards,</p>

      <p>
        <b>MIRG-ICAIR 2024 Organising Committee</b><br />
      </p>
    </div>
  </body>
</html>